
<header class="bg-card shadow-lg p-4 flex items-center justify-between">
  <div class="flex items-center gap-4">
    <h1 class="text-xl font-bold italic tracking-tight">
      {title | upper}
    </h1>
    <div data-component="app-theme-toggle"></div>
    <div data-component="app-language-selector"></div>
    <div data-component="app-collapsible-clock"></div>
    
    <nav class="flex gap-2 text-sm">
      <button route-to="/dashboard" class="hover:underline">Dashboard</button>
      <button route-to="/home" class="hover:underline text-teal-200">inicio</button>
      <button route-to="/simpson" class="hover:underline text-teal-200">Los Simpsons</button>
    </nav>
  </div>

  <div class="flex items-center gap-3">
    <div on-publish="NOTIFICATIONS_COUNT:local:statusColor" class="p-2 rounded-full transition-all">
       <i data-icon="activity" class="size-6"></i>
    </div>

    <button on-click="showMessage:@instanceId" class="p-1 hover:bg-teal-500 rounded-full transition-colors duration-200">
      <i data-icon="settings" class="size-5 cursor-pointer"></i>
    </button>
    
    <div class="bg-teal-700 px-3 py-1 rounded-lg text-xs font-mono">
       Balance: {user.name} - {user.balance | currency:€:2}
    </div>
  </div>
  <div on-publish="SYSTEM_MSG:local:innerHTML" class="m-4 p-3 bg-gray-100 rounded border-l-4 border-teal-500 italic text-gray-600">
    Esperando acciones...
  </div>  
</header>

