<div class="bg-card shadow-sm">
  <header class="flex items-center px-4">
    <div>
      <div data-component="app-logo" class="text-4xl mr-2">
        Construyendo el futuro de la web con vanilla JS
      </div>
      <div id="logo-progress-bar">
        
      </div>       
    </div>

    <nav class="flex flex-wrap items-center place-content-end gap-1 ml-auto py-4">
      <div data-component="app-language-selector"></div>    
      <div data-component="app-theme-toggle"></div>
      <div data-component="app-clock" class=""></div>     
      <div class="w-full border-b border-t p-0.5">
        <i data-icon="activity" class="size-3 inline-block"></i>
        <span class="h-2 text-xs" on-publish="app-message:global:innerHTML">
          Esperando acciones...
        </span>
      </div>
    </nav>    
  </header>
  <div class="w-full text-center border-b border-t p-0.5 space-y-1">
    <a href="/404" route-to="/404" class="app-button text-xs px-3">404</a>
    <a href="/splash-screen" route-to="/splash-screen" class="app-button text-xs px-3">SplashScreen</a>
    <a href="/home" route-to="/home" class="app-button text-xs px-3">Home</a>
    <a href="/about" route-to="/about" class="app-button text-xs px-3">About</a>
    <a href="/index" route-to="/index" class="app-button text-xs px-3">IndexPage</a>
    <a href="/no-layout" route-to="/no-layout" class="app-button text-xs px-3">Null-Layout</a> 
    <a href="/admin-layout" route-to="/admin-layout" class="app-button text-xs px-3">AdminLayout</a> 
    <a href="/test" route-to="/test" class="app-button text-xs px-3">Report Playground</a>
    <a href="/template" route-to="/template" class="app-button text-xs px-3">TemplatePage</a>   
    <a href="/dashboard" route-to="/dashboard" class="app-button text-xs px-3">Dashboard</a>
    <a href="/usuarios" route-to="/usuarios" class="app-button text-xs px-3">Usuarios</a>
    <a href="/simpson" route-to="/simpson" class="app-button text-xs px-3">Los Simpsons</a>
    <a href="/component/test/list" route-to="/component/test/list" class="app-button text-xs px-3">
      UserListComponent
    </a>
    <a href="/landing" route-to="/landing" class="app-button text-xs px-3">Landing</a>
    <a href="/poc-1" route-to="/poc-1" class="app-button text-xs px-3">Poc-1</a>
    <a href="/extend-base-component" route-to="/extend-base-component" class="app-button text-xs px-3">ExtendBaseComponent</a>
    <a href="/docs.html" class="app-button text-xs px-3">Static Doc</a>

    <button 
      on-click="showMessage:@instanceId" 
      class="app-button text-xs px-3">
      Message
    </button>
    <a href="/keep-alive" route-to="/keep-alive" class="app-button text-xs px-3">keep-alive</a>
    <a href="/pipe-tester" route-to="/pipe-tester" class="app-button text-xs px-3">Pipes</a>
    <a href="/table" route-to="/table" class="app-button text-xs px-3">Table</a>
    <a href="/overflow-toolbar" route-to="/overflow-toolbar" class="app-button text-xs px-3">OverflowToolbar</a>
    <a href="/menu-showcase" route-to="/menu-showcase" class="app-button text-xs px-3">Menús</a> 
  </div>
</div>

